pipeline/1st_scenario_empty_data_check_table.json
{
	"name": "1st_scenario_empty_data_check_table",
	"properties": {
		"description": "Prevent empty file generation using Azure Data Factory Copy Activity.\n\nThis pipeline would check to ensure that Demo File contains records.  Downstream processing would be halted and an email notification would be sent if Demo File records are not present. \n",
		"activities": [
			{
				"name": "lookup_detail_file",
				"description": "This lookup activity would look for the demo_file table and would get the records from demo_file table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select top 1 * from detail_file",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "synapse_detail_file",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "empty_data_check",
				"description": "If condition activity would check whether demo_file contains records or not. If record exist then it would trigger the copy activity otherwise and email notification would be sent and copy processes would be halted.",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "lookup_detail_file",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lookup_control_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(contains(activity('lookup_detail_file').output,'firstrow'), contains(activity('lookup_control_file').output,'firstrow'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "email_notification_empty_data",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "EmailTo",
									"value": "manas.a@hcl.com"
								},
								{
									"name": "Subject",
									"value": "No Records Found in DEMO_FILE"
								},
								{
									"name": "Activity",
									"value": "DEMO_FILE Copy Activity"
								},
								{
									"name": "ErrorMessage",
									"value": "Copy is halted because no records found in the DEMO_FILE"
								}
							],
							"typeProperties": {
								"url": "https://prod-38.eastus2.logic.azure.com:443/workflows/0eccc6e518d549d49f0cabab276f0a15/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=S4wx8htrhAIrNG0OaO6mvkUe-UFqAxyBpQ-VsJv7nnM",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"DataFactoryName": "@{pipeline().DataFactory}",
									"PipelineName": "@{pipeline().Pipeline}",
									"Subject": "CNO: Empty File Notification",
									"ErrorMessage": "No records found! Please check the logs.",
									"EmailTo": "manas.a@hcl.com"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "copy_detail_file",
							"description": "This copy activity would copy the data of demo_file",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": "select * from detail_file",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "SqlDWSink",
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									},
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ls_poc_stage_adls",
										"type": "LinkedServiceReference"
									},
									"path": "staging-container"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "claimid",
												"type": "Int32"
											},
											"sink": {
												"name": "claimid",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "credit",
												"type": "Int32"
											},
											"sink": {
												"name": "credit",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "debit",
												"type": "Int32"
											},
											"sink": {
												"name": "debit",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "day",
												"type": "Int32"
											},
											"sink": {
												"name": "day",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "month",
												"type": "String"
											},
											"sink": {
												"name": "month",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "year",
												"type": "Int32"
											},
											"sink": {
												"name": "year",
												"type": "Int32"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "synapse_detail_file",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "synapse_destination_detail_file",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "copy_control_file",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "copy_detail_file",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": "select * from control_file",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": "insert into landing_zone_process_control_log \nselect '1', debit, credit, recordcounts,'Tabular-Data Copied Successfully' , [month], [year]\nfrom destination_control_file\n",
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									},
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ls_poc_stage_adls",
										"type": "LinkedServiceReference"
									},
									"path": "staging-container"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "controlid",
												"type": "Int32"
											},
											"sink": {
												"name": "controlid",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "credit",
												"type": "Int32"
											},
											"sink": {
												"name": "credit",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "debit",
												"type": "Int32"
											},
											"sink": {
												"name": "debit",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "recordcounts",
												"type": "Int32"
											},
											"sink": {
												"name": "recordcounts",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "month",
												"type": "String"
											},
											"sink": {
												"name": "month",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "year",
												"type": "Int32"
											},
											"sink": {
												"name": "year",
												"type": "Int32"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "synapse_control_file",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "synapse_destination_control_file",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "lookup_control_file",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select top 1 * from control_file",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "synapse_control_file",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": [
			"ADF Demo"
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}