pipeline/Reconciliation_Pipeline_Pre_Ingestion.json
{
	"name": "Reconciliation_Pipeline_Pre_Ingestion",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "dataflowReconciliationPreIngestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Reconcile_Failure_Sink",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lookup1').output.Size,1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send_Failure_Email",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-21.eastus2.logic.azure.com:443/workflows/7b56c8fbb0f848e0a0adb326ffd11eba/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8ST62FnrHXliMjpBQntwY0IvYfe59Di4gYw5rZt3_GM",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "@concat('{\"DataFactoryName\":\"',pipeline().DataFactory,'\",\"EmailTo\":\"debashis.chcl.com\",\"ErrorMessage\":\"Reconciliation Failed\",\"PipelineName\":\"',pipeline().Pipeline,'\",\"Subject\":\"cnodfdev: Reconciliation Failed\"}','')",
									"type": "Expression"
								},
								"linkedServices": [],
								"datasets": []
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Send_Success_Email",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-21.eastus2.logic.azure.com:443/workflows/7b56c8fbb0f848e0a0adb326ffd11eba/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8ST62FnrHXliMjpBQntwY0IvYfe59Di4gYw5rZt3_GM",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "@concat('{\"DataFactoryName\":\"',pipeline().DataFactory,'\",\"EmailTo\":\"debashis.chcl.com\",\"ErrorMessage\":\"Reconciliation Failed\",\"PipelineName\":\"',pipeline().Pipeline,'\",\"Subject\":\"cnodfdev: Reconciliation Successful\"}','')",
									"type": "Expression"
								},
								"linkedServices": [],
								"datasets": []
							}
						}
					]
				}
			},
			{
				"name": "dataflowReconciliationPreIngestion",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflowReconciliationPreIngestion",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}